<%= form_with(model: survey, local: true) do |form| %>
  <% if survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao %>
  </div>

  <div id="alternatives">
    <%=form.fields_for :alternatives do |alternatives_fields| %>
      <%= render partial: "alternative_fields", locals: {f: alternatives_fields} %>
    <% end %>

    <%= link_to_add_association('[Adicionar Alternativa]', form, :alternatives) %>
  </div> 

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
