<%= form_with(model: answer, local: true) do |form| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :alternativa %>
    <%= collection_radio_buttons(:answer, :alternativa, @alternatives, :id, :descricao) %>
  </div>

  <div class="field">
    <%= form.label :observacao %>
    <%= form.text_field :observacao %>
  </div>

  <div class="field">
    <%= form.hidden_field :survey_id, value: survey.id %>
  </div> 

  <%= form.fields_for :user do |user_fields| %>
    <div class="field">
      <%= user_fields.label :nome %>
      <%= user_fields.text_field :nome %>
    </div>    
    
    <div class="field">
      <%= user_fields.label :email %>
      <%= user_fields.text_field :email %>
    </div>

  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
