<p id="notice"><%= notice %></p>

<p>
  <strong>Enquete:</strong>
  <%= @answer.survey.descricao %>
</p>

<p>
  <strong>Alternativa:</strong>
  <%= @answer.alternativa %>
</p>

<p>
  <strong>Observacao:</strong>
  <%= @answer.observacao %>
</p>

<p>
  <strong>Usuário:</strong>
  <%= @answer.user.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @answer.user.email %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', survey_path(@answer.survey)%>
